<footer>
<div class='ui container main text'>
   <hr>
   <h4 class='ui centered header'>Crafted with &hearts; in Lagos by <a href="https://twitter.com/lexyblazy">lexyblazy</a></h4>
</div>
 
</footer>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
$('.message .close').on('click', function() {
  $(this)
    .closest('.message')
    .transition('fade')
});
</script>
<script src = '/ckeditor/ckeditor.js'></script>
<script>
  CKEDITOR.replace('body');
</script>