
<div class="ui stackable inverted menu">
 <a class="active item" href= '/' >
    BlogApp
  </a>
  <a href = '/posts' class="item">
    Posts
  </a>
  <a href = '/categories' class="item">
    Categories
  </a>
  <a href = '/posts/new' class="item">
   New Post
  </a>
  <!--<div class="right menu">-->
    <form method = 'post' action = '/posts/api/search'>
      <div class="item">
        <div class="ui icon input">
          <input type="text" name = 'search' placeholder="Search...">
        </div>
    &nbsp; &nbsp;&nbsp;<input type="submit" class='ui inverted button' value="Go">
      </div>
  </form>
    <%if(!user){%>
  <a href = '/register' class="item">
   Register
  </a>
  <a href = '/login' class="item">
   Login
  </a>
  <%}%>
  <%if(user){%>
  <a href = '/profile/<%=user._id%>' class="item"><%=user.name%></a>
  <a  class = 'item' href = '/profile/<%=user._id%>'><img src = '<%=user.gravatar%>' /></a>
  <a href = '/logout' class="ui item">
   Logout
  </a>
  <%}%>
  
  <!--</div>-->
</div>