<div class="ui inverted menu">
  <a class="active item" >
    BlogApp
  </a>
  <a href = '/posts' class="item">
    Posts
  </a>
  <a href = '/categories' class="item">
    Categories
  </a>
  <a href = '/posts/new' class="item">
   New Post
  </a>
  <a href = '/register' class="item">
   Register
  </a>
  <a href = '/login' class="item">
   Login
  </a>
</div>