<% layout('layout') %>
<div class='ui container main header segment'>
   <form class="ui form" method = 'post' action = '/categories'>
        <div class="field">
            <label>Name</label>
            <input name="name" placeholder="name" type="text">
        </div>
        <div class="field">
            <label for='description'>Description</label>
            <input name="description" placeholder="Description" type="text">
        </div>
        <div class='field'>
             <button class="ui purple button" type="submit">Submit</button>
        </div>
       
    </form>
</div>
