<% layout('layout') %>
<div class='ui container main text segment'>
   <form class="ui form" method = 'post' action = '/login' >
        
        <div class="field">
            <label for='email'>Email</label>
            <input name ='email' placeholder='Email' type='email'>
        </div>
        <div class='field'>
            <label for='password'>Password</label>
            <input type="password" name='password' >
        </div>
        <div class='field'>
             <button class="ui button green" type="submit">Submit</button>
        </div>
       
    </form>
</div>
