<% layout('layout')%>
<div class = 'ui container'>
    <% posts.forEach(function(post){%>
        
            <div class = 'ui container main text segment'>
            <h2 class='header'><%=post.title%></h2>
            <img src='/uploads/<%=post.image%>' width='650' height='400' auto='compress' cs='tinysrgb'>
            <p><%=post.content%></p>
        </div>   
    <%})%>
</div>