<% layout('layout') %>
<div class='ui container main text segment'>
   <form class="ui form" method = 'post' action = '/register' >
        <div class="field">
            <label>Name</label>
            <input name="name" placeholder="Name" type="text">
        </div>
        <div class="field">
            <label for='email'>Email</label>
            <input name ='email' placeholder='Email' type='email'>
        </div>
        <div class='field'>
            <label for='password'>Password</label>
            <input type="password" name='password' >
        </div>
        <div class='field'>
            <label for='confirm-password'>Confirm Password</label>
            <input type="password" name='confirm-password'>
        </div>
        
        <div class='field'>
             <button class="ui button green" type="submit">Sign Up</button>
        </div>
        <small>Already have an account? <a href="/login">Login</a></small>
       
    </form>
</div>
